@import "tailwindcss";

:root {
  --pink-color: #DB3F7A;
  --dark-pink-color: #6B2C51;
  --black-color: #000000;
  --white-color: #FFFFFF;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: "bahnschrift", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Font */
@font-face {
  font-family: 'Monument';
  src: url('src/assets/fonts/MonumentExtended-Regular.woff2') format('woff2'),
      url('src/assets/fonts/MonumentExtended-Regular.woff') format('woff'),
      url('src/assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument';
  src: url('src/assets/fonts/MonumentExtended-UltraBold.woff2') format('woff2'),
      url('src/assets/fonts/MonumentExtended-UltraBold.woff') format('woff'),
      url('src/assets/fonts/MonumentExtended-UltraBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.monument-regular {
    font-family: 'Monument', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.monument-extra-bold {
    font-family: 'Monument', sans-serif;
    font-weight: 900;
}

/* Color */
.pink-color {
  color: #DB3F7A;
}

.pink-bg-color {
  background-color: #DB3F7A;
}

/* Shadow */
.shadow-white-centered {
  box-shadow: 0 0 10px 6px rgba(255, 255, 255, 0.25);
}

.bigger-text {
  font-size: 2.25rem;
  line-height: 0;
}

/* Spinner */
.spinner {
  border: 5px solid #DB3F7A;
  border-right-color: #6B2C51;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  animation: spin 1s linear infinite;
}